@media (max-width: 768px) {
    .container {
        max-width: 695px;
    }
}

@media (min-width: 1200px) {
    .card-body.h-100.d-flex.flex-column.justify-content-between {
        font-size: 1.2rem;
    }
}

.l-height {
    line-height: 1.6;
}

body {
    background-image: url(../assets/IMG_5717.JPG);
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

a {
    text-decoration: underline;
}

.my-shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.list-group-item {
    background-color: unset;
}

.my-bg-dark {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}